---
- name: Get DEB Vector
  ansible.builtin.get_url:
    url: "https://packages.timber.io/vector/{{ vector_version }}/vector_{{ vector_version }}-1_amd64.deb"
    dest: "./vector-{{ vector_version }}.deb"
    mode: "0644"
    validate_certs: false
- name: Install Vector packages
  become: true
  ansible.builtin.apt:
    deb: ./vector-{{ vector_version }}.deb
  notify: Start Vector service
